.contact-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 20px;
}
.contact-heading{
    font-size: 2rem;
}
.contact-form{
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
}
.contact-label{
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.contact-input,.contact-textarea{
    color: black;
    width: 50%;
    margin: 15px;
    height: 35px;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 7px;
}

input.contact-input::placeholder{
    text-align: center;
    font-size: 14px;
}

textarea.contact-textarea::placeholder{
    text-align: center;
    font-size: 14px;
}

.contact-textarea{
    min-height: 55px;
    max-height: 200px;
}

.contact-button{
    background-color: black;
    color: white;
    padding: 2%;
    width: 26%;
    height: 50px;
    border: 1px solid black;
    border-radius: 7px;
    margin: 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.contact-button:hover{
    color: black;
    background-color: white;
}