.crop-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.some{
    object-fit: cover;
    width: 100%;
}
.background-image{
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}
.image-container{
    width: 100%;
    text-align: center;
}
.crop-description{
    display: flex;
    justify-content: center;
    color: rgb(239, 172, 48);
    align-items: center;
    margin-left: 20px;
}
.crop-image{
    width: 70%;
    padding: 20px;
}
.description{
    width: 70%;
    font-size: 1.5vw;
    margin-right: 20px;
}
.crop-heading{
    text-align: center;
    font-size: 3vw;
    font-weight: bolder;
}
