.wrapper{
    position: relative;
    background-image: url('/assets/windmill.jpg');
    background-size: cover;
    margin: 25px;
    margin-top: 15px;
    border-radius: 10px;
}
.heading{
    margin-left: 8vw;
    padding-top: 10vw;
}
.heading-text{
    font-size: 3.5vw;
    color: rgb(244, 244, 244);
    font-weight: bolder;
    text-shadow: 0 0 10px #030303;
}
.background-image{
    width: 100%;
    height: 100%;
}
.homepage-buttons{
    margin-top: 65px;
    display: flex;
    width: 50%;
    justify-content: space-around;
    padding-bottom: 110px;
    flex-wrap: wrap;
}
.button{
    font-family: 'Montserrat';
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    color: rgb(1, 1, 1);
    padding: 8px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
    width: 20vw;
    text-align: center;
    text-decoration: none;
}
.button:hover{
    background-color: rgb(7, 7, 7);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

