.form-wrapper{
    display: flex;
    justify-content: center;
}
.input-form{
    text-align: center;
    width: 90%;
    background-image: url('assets/crop_background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px;
    margin-top: 15px;
    border-radius: 10px;
    padding: 90px 50px;
}

.form-input input:focus{
    outline: none;
}

.form-input label{
    color:aliceblue;
    text-shadow: 0 0 15px #030303;
    font-size: 1.1rem;
    font-weight: 700;
}
.predict-button{
    background-color: rgb(249, 249, 249);
    color: rgb(24, 24, 24);
    font-weight: 600;
    padding: 8px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    text-decoration: none;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.predict-button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}