.crop-wrapper{
    /* position: relative; */
    background-image: url('assets/some.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* max-width:100%;
    height:auto; */
}
.crop-description{
    padding: 30px;
    display: flex;
    /* width: 80%; */
    padding: 30px;
    color: aliceblue;
    align-items: center;
    justify-content: space-between;
}
.crop-heading{
    text-align: center;
    font-size: 1.7em;
    font-weight: bolder;
}
.image{
    height: 200px;
}