.nav-right-items{
    display: flex;
    margin-left: 12px;
    padding-left: 20px;
}
.list{
    display: flex;
}
.container-fluid{
    width: 70%;
}
.nav-item{
    margin-left: 7px;
}
@media (max-width: 989px) {
    .container-fluid {
      width: 100%;
    }
}
